<h1>Listing tasks</h1>

<%= form_tag("search", :method => "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>

<div id='results'>
  <% unless @search.nil? %>
  <% @search.each_hit_with_result do |hit, task| %>
    <p>
      <%= task.name %>
    </p>
    <% end %>
    <% end %>
</div>

<table>
  <tr class="heading table">
    <th>Name</th>
    <th>Due</th>
    <th>Importance</th>
    <th>See More</th>
    <th>Progress</th>
    <th>Completed</th>
    <th></th>
  </tr>
<% if @tasks %>
<% @tasks.each do |task| %>
  <%if task.completed%>
  <%else%>
    <tr class="task table">
      <td><%= task.name %></td>
      <td><%= task.due.strftime("%m-%d-%Y %H:%M") %></td>
      <td><%= task.importance %></td>
      <td><%= link_to 'See and Edit Task Details', task %></td>
      <td><%= link_to 'Mark Complete?', task_path(task, :completed => true), :method => :put %></td>
      <td><%= task.completed %> </td>
    </tr>
  <% end %>
<% end %>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
