<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Description:</b>
  <%= @task.description %>
</p>

<p>
  <b>Due:</b>
  <%= @task.due.strftime("%m-%d") %> <!-- Display due date -->
  <%= @task.due.strftime("%H:%M") %> <!-- Display time due -->
</p>

<p>
  <b>Importance:</b>
  <%= @task.importance %>
</p>


<%= link_to 'Edit this Task', edit_task_path(@task) %> |
<%= link_to 'Back to List', tasks_path %>
